.DS_Store
**/*.xcuserstate
**.xcworkspace/xcuserdata
*.xcworkspace/xcuserdata
Pods/Pods.xcodeproj/xcuserdata
Pods/Target\ Support\ Files
Pods/Charts
Pods/Instructions
Pods/Eureka
Pods/FontAwesome.swift
